{% extends "base.html" %}
{% load filter %}
{% load staticfiles %}
{% block pagetitle %}{{ envt.name }}{% endblock %}
{% block maintitle %}Environnement {{ envt.name }}{% endblock %}


{% block frequentActionsButtons %}
    {% if perms.ref.scm_addenvironment %}
        <li><a href="{% url 'ref:envt_duplicate' envt.name %}" title="Dupliquer l'environnement">D</a></li>{% endif %}
    <li><a href="{% url 'ref:instance_envt' envt.id %}" title="Editer l'environnement">Editer l'environnement</a></li>
    {# E #}
    <li><a href="{% url 'admin:ref_environment_change' envt.id %}" title="Paramètres de l'environnement">Paramètres de
        l'environnement</a></li> {# P #}
{% endblock %}

{% block extend_sidebar %}
    {% regroup cis by description as compotype_list %}

    <li>Liens GCL
        <ul>
            <li><a href="{% url 'scm:envtinstallhist' envt.name %}">
                <img src='{% static "history.svg" %}'>Historique des installations</li>
            </a>
            <li><a href="{% url 'scm:backup_list' %}">
                <img src='{% static "backup.svg" %}'>Sauvegardes disponibles
            </a></li>
            <li><a href="{% url 'scm:tag_list' %}">
                <img src='{% static "tag.svg" %}'>Tags
            </a></li>
        </ul>
    </li>
    <li>Accès rapide
        <ul>
            {% for compotype in compotype_list %}
                <li><a href="#{{ compotype.grouper.id }}">{{ compotype.grouper.description | capfirst }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src='{% static "d3.min.js" %}'></script>
    <script type="text/javascript" src='{% static "dagre-d3.min.js" %}'></script>
{% endblock scripts %}

{% block content %}
    {% regroup cis by description as compotype_list %}

    <div class='row'>

        <div class='col-md-3'>
            <h2>Généralités</h2>

            <table class="table table-sm dt no-border">
                <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{ envt.name }}</td>
                </tr>
                <tr>
                    <th>Responsable</th>
                    <td>{{ envt.manager }}</td>
                </tr>
                <tr>
                    <th>Référencé le</th>
                    <td>{{ envt.buildDate|date:'d/m/y' }}</td>
                </tr>
                <tr>
                    <th>Détruit le</th>
                    <td>{% if envt.destructionDate %}{{ envt.destructionDate }}{% else %}à
                        plannifier{% endif %}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ envt.typology.name }}</td>
                </tr>
                <tr>
                    <th>Géré en version</th>
                    <td>{% if envt.managed %}oui{% else %}non{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-9">
            <div class="graph">
                <svg>
                    <g transform="translate(20,20) scale(0.7)"/>
                </svg>
                <div class="zoom-graph">
                    <i class="fas fa-expand"></i>
                    <i class="fas fa-compress"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col'>
            <h2>Composants</h2>
            {% for compotype in compotype_list %}
                <h3 id="{{ compotype.grouper.id }}">{{ compotype.grouper.description }}</h3>

                <div class='table-responsive'>
                    <table class='table table-sm table-bordered table-hover dt'>
                        {% comment %} Table Header {% endcomment %}
                        <thead>
                        <tr>
                            <th>Livré dans</th>
                            <th>Nom</th>
                            {% for field in compotype.grouper.field_set.all %}
                                <th>{{ field.short_label|capfirst }}</th>
                            {% endfor %}

                            {% for field in compotype.grouper.computed_field_set.all %}
                                <th>{{ field.short_label|capfirst }}</th>
                            {% endfor %}

                            {% if perms.ref.change_component_instance %}
                                <th class="edit-column"></th>
                            {% endif %}
                        </tr>
                        </thead>

                        {% comment %} Data rows {% endcomment %}
                        <tbody>
                        {% for compo in compotype.list %}
                            <tr>
                                <td>
                                    {% if compo.instanciates %}{{ compo.instanciates.implements.application.name }} -
                                        {{ compo.instanciates.implements.name }}{% endif %}
                                    {% if compo.include_in_envt_backup %}
                                        <span class='glyphicon glyphicon-hdd' aria-hidden='true'
                                              title='sauvegardé'></span>{% endif %}
                                </td>
                                <td>{{ compo.name }}</td>

                                {% for field, value in compo.description.field_set.all|project_ci_fields:compo.field_set.all %}
                                    <td>{{ value | urlify }}</td>
                                {% endfor %}

                                {% for field in compo.description.computed_field_set.all %}
                                    <td>{{ compo | apply_field_template:field | urlify }}</td>
                                {% endfor %}

                                {% if perms.ref.change_component_instance %}
                                    <td class="edit-column">
                                        <a href='{% url "ref:edit_ci" compo.pk %}'><i class="fa fa-edit"></i></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}

            {% if perms.ref.change_component_instance %}
                <h3>Composants supprimés</h3>
                <div class='table-responsive'>
                    <table class='table table-sm table-bordered table-hover dt'>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th class="edit-column"></th>
                        </tr>
                        {% for ci in deleted %}
                            <tr>
                                <td>{{ ci.id }}</td>
                                <td>{{ ci.description.description }}</td>
                                <td class="edit-column">
                                    <a href='{% url "ref:edit_ci" ci.id %}'><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.ajax(
                {
                    url: '{% url "ref:cartosimpledata" envt.ci_id_list "4" "3" %}',
                    type: "GET",
                    dataType: "json",
                }).done(function (json) {
                var digraph = dagreD3.json.decode(json['nodes'], json['edges']);
                var renderer = new dagreD3.Renderer();
                renderer.run(digraph, d3.select("svg g"));
            });

            $('.zoom-graph').on('click', function () {
                var zoomButton = $('.zoom-graph');
                zoomButton.parent().toggleClass('expanded');
                {#zoomButton.parent().addClass('expanded');#}
            });
        });
    </script>


{% endblock content %}

