{% extends "base.html" %}
{% load staticfiles %}

{% block pagetitle %}GE{% endblock %}
{% block maintitle %}Carte interactive{% endblock %}
{% block scripts %}
<script type="text/javascript" src='{% static "d3.min.js" %}'></script>
<script type="text/javascript" src='{% static "dagre-d3.min.js" %}'></script>
<script type="text/javascript" src='{% static "jquery-1.11.2.min.js" %}'></script>
<script type="text/javascript">
function refresh_graph()
{
	$.ajax(
	{
		url : '{% url "ref:cartoformdata" %}',
		type : "POST",
		dataType : "json",
		data: $("#ff").serialize(),
	}).done(function(json)
	{
		digraph = dagreD3.json.decode(json['nodes'], json['edges']);
		
		var renderer = new dagreD3.Renderer();
		$("svg g").empty();
		renderer.run(digraph, d3.select("svg g"));
	});
}

$(document).ready(function()
{
	$('#refresh').on('click', function() { refresh_graph(); });
});
</script>
{% endblock scripts %}

{% block fraquentActionsParent %}
{% endblock %}
{% block extend_sidebar %}
    <button id='refresh' class="btn btn-success" style="width: 100%">Refresh</button>
    <br><br>


    <form id='ff'>
        <div>{{ form.envts.label }}</div>
        <div>{{ form.envts }}</div>
        <br>
        <div>{{ form.models.label }}</div>
        <div>{{ form.models }}</div>
        <br><br>
        <div>{{ form.reltypes.label }}</div>
        <div>{{ form.reltypes }}</div>
        <br>
        <div>{{ form.relRecursion.label }}</div>
        <div>{{ form.relRecursion }}</div>
        <br>
        <div>{{ form.collapseThr.label }}</div>
        <div>{{ form.collapseThr }}</div>
        <br>
        <div>{{ form.include_deleted.label }}</div>
        <div>{{ form.include_deleted }}</div>
    </form>

{% endblock %}

{% block content %}

    <div class="graph">
    	<svg width=5024 height=5024>
		    <g transform="translate(20,20) scale(0.7)"/>
		</svg>

    </div>

	
	<!-- back up  wrapping to do the styling  -->
	<!-- <form id='ff'>
		 {%for field in form %}
		 <label for="{{field.id_for_label}}">{{field.label}}</label>
		<div style ="padding: 5px; background-color:#D3D3D3; margin: 10px;">{{field}}</div>
	
		{% endfor %}
		</form>  -->
		
		
		
		<!-- or like  this <form id='ff'>
	
		 {{form.as_p}}
		
		</form>    -->
	

{% endblock content %}
