{% load staticfiles %}<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href='{% static "fav.png" %}' />
		<title>{%block pagetitle%}MAGE{%endblock pagetitle%}</title>
		
		{%block scripts%}{%endblock%}
		{%block other_css%}{%endblock%}
		
		
		 <link media="all" type="text/css" href="{% static "NavigationBar.css" %}" rel="stylesheet"/>
		 <link media="all" type="text/css" href="{% static "mage.css" %}" rel="stylesheet"/>
		 <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
         <!--  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">-->
         
         <!--font awesom from internet -->
         <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">-->
         <!--font awesom from local dir  -->
         <link rel="stylesheet" href="{% static "fontawesome-free-5.2.0-web/css/all.css" %}" >
        
         <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="{% static "bootstrap-4.3.1/css/bootstrap.min.css" %}">
         
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
        <script src="{% static "jquery-3.3.1/jquery.min.js" %}"></script>
         
         <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <script src="{% static "bootstrap-4.3.1/js/bootstrap.min.js" %}"></script>
		 
		
		<script type="text/javascript">function back() 
		{
			if (document.referrer !== null && document.referrer !== "")
			{
				if (document.referrer.indexOf("accounts/login") === -1)
				{
					history.back();return false;
				}
				else
				{
					history.go(-2);return false;
				}
			}
			else
			{
				window.location = '/';
				return false;
			}
		}</script>
	</head>
    <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'welcome' %}">MAGE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Les environements
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'ref:cartoform' %}">carte interactive</a>
                        <a class="dropdown-item" href="{% url 'ref:grfull' %}">carte générale</a>
                        <a class="dropdown-item" href="{% url 'ref:new_item' %}">créer un element de référence </a>
                        <a class="dropdown-item" href="{% url 'ref:backuped' %}">eléments sauvegardés</a>
                        <a class="dropdown-item" href="{% url 'ref:shared_ci' %}">composants utualisés</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Gestion configuration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'scm:lc_installs_envts' %}">Les versions courants</a>
                        <a class="dropdown-item" href="{% url 'scm:deliveries' %}">Livraisons disponibles</a>
                        <a class="dropdown-item" href="{% url 'scm:delivery_create' %}">Référencer une livraison</a>
                        <a class="dropdown-item" href="{% url 'scm:tag_list' %}">tags</a>
                        <a class="dropdown-item" href="{% url 'scm:backup_list' %}"> sauvegardes disponibles</a>
                        <a class="dropdown-item" href="{% url 'scm:lc_list' %}"> versions disponibles</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Liens utiles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for link in team_links %} {# TODO put links in global context #}
                            <a href="{{ link.url }}" class="dropdown-item">{{ link.legend|safe }}</a>
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Aides scripting
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="{% url 'ref:types' %}" class="dropdown-item">Types composants</a>
                        <a href="{% url 'ref:mqltester' %}" class="dropdown-item">requete MQL</a>
                        <a href="{% url 'ref:types_details' %}" class="dropdown-item">détails composants installés</a>
                        <a href="{% url 'ref:urls' %}" class="dropdown-item">API web partielle </a>
                        <a href="{% url 'ref:cartostructure' %}" class="dropdown-item">Graphes</a>
                    </div>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li>
                                {% if user.last_name and user.first_name %}
                                    <p class="navbar-text">{{ user.first_name }} {{ user.last_name }}</p>
                                {% else %}
                                    <p class="navbar-text">{{ user.username }}</p>
                                {% endif %}
                            </li>
                        {% endif %}
                        <li>
                            {% if user.is_authenticated %}<a href="{% url 'logout' %}">Se déconnecter</a>
                            {% else %}
                                <a href="{% url 'force_login' %}?next={{ request.path }}">S'authentifier</a>{% endif %}
                        </li>
                        <li id='quickAccessButtons'>
                            <span id='quickAccessNavigationButtons'>
                                {% block navigationButtons %}{% endblock %}
                            </span>
                        </li>
        </ul>
        {##}
        {#        </div>#}
    </nav>
		
		{% if messages %}
		<div class='bloc1'>
		    {% for message in messages %}
		    <li>{{ message }}</li>
		    {% endfor %}
		</div>
	    {% endif %}



    <div id="main-row" class='row'>
        {% block sidebar %}
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <ul>
                {% block fraquentActionsParent %}
                    <li>Actions
                    <ul>
                        {% block frequentActionsButtons %}

                        {% endblock %}
                    </ul>
                </li>
                {% endblock %}
                {% block extend_sidebar %}
                {% endblock %}
            </ul>
        </div>
        {% endblock %}

        <div id="main-area" class="col">
            <h1 class="page-title">{% block maintitle %}{% endblock %}</h1>

            {% block content %}{% endblock content %}
        </div>
    </div>
	
  
	
	</body>
</html>
